.char-display {
    border:solid thin var(--text-dark);
    display:inline-block;
    margin:10px 0;

    height:150px;
    line-height:150px;
    width:150px;
    
    font-size:5em;
    text-align:center;
    vertical-align: top;
}

.char-display-filter {
    filter : blur(10px);
}

.button-container { 
    margin-top:1em;
}

canvas {
    border:solid thin var(--control-dark);
    margin: 10px 0px;
}
